/* Write your CSS here */
.li_language_item {
  list-style: none;
  margin-right: 10px;
}
.language_button {
  border: none;
  padding: 10px;
  background-color: transparent;
  font-weight: bold;
}
.activeButton {
  color: rgb(15, 15, 240);
  border: 1px solid blue;
  border-radius: 15px;
}
